@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-VariableFont_wght.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/lato/Lato-Regular.ttf) format("truetype");
}
.bg {
  background-color: #272733;
  background-image: url(/assets/images/bg.png);
  background-size: 100% auto;
}
* {
  margin: 0;
  font-family: Lato;
}
.app-range-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  &__output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__label {
      font-size: 18px;
      line-height: 22px;
    }
    &__value {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }
  }
  &__input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      background: #b2b2b2;
      border-radius: 2.5px;
      border: 1px solid #fff;
      height: 7px;
      width: 100%;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -7px;
      background-color: #42a9ed;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 3px solid #286690;
    }
  }
}
.app-file-input {
  @extend .app-button;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &__input {
    display: none;
  }

  border-color: #000000;
  color: #000000;
  background-color: white;
  &:hover {
    background-color: #000000;
    color: white;
  }
  &:active {
    background-color: #272733;
  }
}
.app-button {
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid white;
  background-color: #42a9ed;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 43px;
  line-height: 15px;
  border-radius: 4px;
  width: 100%;
  transition: 0.2s;
  font-size: 15px;
  @media (max-width: 850px) {
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
  }
  &:hover {
    background-color: white;
    color: #42a9ed;
  }
  &_variant {
    border-color: #000000;
    color: #000000;
    background-color: white;
    &:hover {
      background-color: #000000;
      color: white;
    }
  }
  &:active {
    background-color: #272733;
  }
}
.headers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: white;
  @media (max-width: 850px) {
    gap: 15px;
  }
  &__header {
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    &__blue-part {
      color: #42a9ed;
    }
    @media (max-width: 850px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__sub-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    @media (max-width: 850px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.website-header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 13.5px max(calc(50% - 585px), 16px) 11.5px;
  background: #10101d;
  display: flex;
  transition: 0.3s;
  align-items: center;
  &__mobile-menu {
    display: none;
    @media (max-width: 850px) {
      display: block;
      width: 100px;
      margin-inline-start: auto;
    }
  }
  &_on-top {
    padding: 33.5px max(calc(50% - 585px), 16px) 31.5px;
    background: #10101de5;
  }
  &__logo {
    height: 35px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0em;
    color: white;
    transition: 0.3s;
    &:hover {
      color: #42a9ed;
    }
    &__blue-part {
      transition: 0.3s;
      color: #42a9ed;
    }
    &:hover &__blue_part {
      color: white;
    }
    @media (max-width: 850px) {
      font-size: 20px;
      height: unset;
    }
  }
  &__links-list {
    margin-inline-start: auto;
    display: flex;
    gap: 60px;
    margin-top: 11px;
    margin-bottom: 8px;
    &__link {
      font-size: 13px;

      font-weight: 600;
      color: white;
      text-transform: uppercase;
      transition: 0.3s;
      text-decoration: none;
      &_active,
      &:hover {
        color: #42a9ed;
      }
    }
    @media (max-width: 850px) {
      transition: 0.3s;
      position: absolute;
      top: 100%;
      transform: scaleY(0);
      transform-origin: top;
      right: 0;
      padding: 10px;
      background: #10101d;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: 100%;
      gap: 15px;
      &_opened {
        transform: scaleY(1);
      }
    }
  }
}
.home-hero {
  min-height: 650px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 100px 0;
  &__background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top;
    display: block;
  }
  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 103px max(calc(50% - 585px), 16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    @media (max-width: 850px) {
      gap: 20px;
    }
    &__header {
      text-transform: uppercase;
      width: 780px;
      max-width: 100%;
      font-weight: 700;
      color: #000000;
      font-size: 48px;
      & > &_blue {
        color: #42a9ed;
      }
      @media (max-width: 850px) {
        font-size: 36px;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 540px;
      max-width: 100%;
      &__header {
        font-size: 20px;
        font-weight: 700;
        @media (max-width: 850px) {
          font-size: 16px;
        }
      }
      &__list {
        list-style: none;
        padding-inline-start: 26px;
        &__list-item {
          font-size: 20px;
          position: relative;
          @media (max-width: 850px) {
            font-size: 16px;
          }
          &::before {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: -16px;
            width: 5px;
            height: 2px;
            background-color: #000000;
          }
        }
      }
      &__buttons {
        display: flex;
        width: 396px;
        gap: 30px;
        @media (max-width: 850px) {
          flex-direction: column;
          width: 150px;
          gap: 15px;
        }
      }
    }
  }
}
.form-section {
  color: white;
  padding: 121px max(calc(50% - 585px), 16px) 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  @media (max-width: 850px) {
    gap: 30px;
  }
  &__steps {
    position: relative;
    display: flex;
    gap: 30px;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__step {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      @media (max-width: 850px) {
        width: 200px;
      }
      &__image {
        width: 100px;
        height: 100px;
        display: block;
      }
      &__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
      }
    }
    &__dots {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 0;
      gap: 130px;
      top: 47px;
      @media (max-width: 1250px) {
        display: none;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    &__fields {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media (max-width: 850px) {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &_2-cols {
        grid-column: 1/3;
      }
    }
    &__submit {
      width: 370px;
      max-width: 100%;
      margin: 40px auto 0;
    }
  }
}
.feedback-section {
  padding: 50px max(calc(50% - 585px), 16px) 50px;
  background-color: #272733;
  &__mySwiper {
    user-select: none;
    width: 100%;
    height: 300px;
    padding-bottom: 30px !important;
    @media (max-width: 1200px) {
      height: 400px;
    }
    @media (max-width: 700px) {
      height: 500px;
    }
    @media (max-width: 700px) {
      height: 500px;
    }
    @media (max-width: 500px) {
      height: unset
    }
    &__swiper-slide {
      display: flex;
      &__text {
        color: white;
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }
}

.app-select {
  position: relative;
  &__select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;

    /* Personalize */
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
    font-size: 18px;
    line-height: 28px;
    color: black;
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    &:focus,
    &:active {
      background-color: #3d4050;
      color: white;
    }
    option {
      background-color: #3d4050;
      color: white;
      &:checked {
        color: #42a9ed;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: black;
    transition: 0.3s;
    pointer-events: none;
  }
  &__select:active + &__arrow,
  &__select:focus + &__arrow {
    color: white;
    transform: translateY(-50%) scaleY(-1);
  }
}

.app-text-input {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  line-height: 28px;
  color: black;
  cursor: pointer;
  &::placeholder {
    color: black;
    opacity: 1;
  }
  &:focus,
  &:active {
    background-color: #3d4050;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}
.website-footer {
  padding: 30px max(calc(50% - 585px), 16px);
  background-color: #3d4050;
  display: flex;
  justify-content: space-between;
  color: white;
  @media (max-width: 1250px) {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }
  &__copyright {
    font-size: 13px;
    line-height: 16px;
  }
  &__divider {
    width: 1px;
    height: 18px;
    background-color: #c3c3c3;
    @media (max-width: 1250px) {
      width: 100%;
      height: 1px;
    }
  }
  &__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #c3c3c3;
    transition: 0.3s;

    &__icon {
      display: block;
    }
    &:hover {
      color: white;
    }
    &_social {
      color: white;
      &:hover {
        color: #c3c3c3;
      }
    }
  }
}
