@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/lato/Lato-Regular.ttf) format("truetype");
}
.bg {
  background-color: #272733;
  background-image: url(/assets/images/bg.png);
  background-size: 100% auto;
}

* {
  margin: 0;
  font-family: Lato;
}

.app-range-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 20px;
}
.app-range-input__output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.app-range-input__output__label {
  font-size: 18px;
  line-height: 22px;
}
.app-range-input__output__value {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.app-range-input__input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
.app-range-input__input::-webkit-slider-runnable-track {
  background: #b2b2b2;
  border-radius: 2.5px;
  border: 1px solid #fff;
  height: 7px;
  width: 100%;
}
.app-range-input__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7px;
  background-color: #42a9ed;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #286690;
}

.app-file-input {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-color: #000000;
  color: #000000;
  background-color: white;
}
.app-file-input__input {
  display: none;
}
.app-file-input:hover {
  background-color: #000000;
  color: white;
}
.app-file-input:active {
  background-color: #272733;
}

.app-button, .app-file-input {
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid white;
  background-color: #42a9ed;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 43px;
  line-height: 15px;
  border-radius: 4px;
  width: 100%;
  transition: 0.2s;
  font-size: 15px;
}
@media (max-width: 850px) {
  .app-button, .app-file-input {
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
  }
}
.app-button:hover, .app-file-input:hover {
  background-color: white;
  color: #42a9ed;
}
.app-button_variant {
  border-color: #000000;
  color: #000000;
  background-color: white;
}
.app-button_variant:hover {
  background-color: #000000;
  color: white;
}
.app-button:active, .app-file-input:active {
  background-color: #272733;
}

.headers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: white;
}
@media (max-width: 850px) {
  .headers {
    gap: 15px;
  }
}
.headers__header {
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
}
.headers__header__blue-part {
  color: #42a9ed;
}
@media (max-width: 850px) {
  .headers__header {
    font-size: 24px;
    line-height: 30px;
  }
}
.headers__sub-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
@media (max-width: 850px) {
  .headers__sub-header {
    font-size: 14px;
    line-height: 20px;
  }
}

.website-header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 13.5px max(50% - 585px, 16px) 11.5px;
  background: #10101d;
  display: flex;
  transition: 0.3s;
  align-items: center;
}
.website-header__mobile-menu {
  display: none;
}
@media (max-width: 850px) {
  .website-header__mobile-menu {
    display: block;
    width: 100px;
    margin-inline-start: auto;
  }
}
.website-header_on-top {
  padding: 33.5px max(50% - 585px, 16px) 31.5px;
  background: rgba(16, 16, 29, 0.8980392157);
}
.website-header__logo {
  height: 35px;
  text-decoration: none;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0em;
  color: white;
  transition: 0.3s;
}
.website-header__logo:hover {
  color: #42a9ed;
}
.website-header__logo__blue-part {
  transition: 0.3s;
  color: #42a9ed;
}
.website-header__logo:hover .website-header__logo__blue_part {
  color: white;
}
@media (max-width: 850px) {
  .website-header__logo {
    font-size: 20px;
    height: unset;
  }
}
.website-header__links-list {
  margin-inline-start: auto;
  display: flex;
  gap: 60px;
  margin-top: 11px;
  margin-bottom: 8px;
}
.website-header__links-list__link {
  font-size: 13px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
}
.website-header__links-list__link_active, .website-header__links-list__link:hover {
  color: #42a9ed;
}
@media (max-width: 850px) {
  .website-header__links-list {
    transition: 0.3s;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: top;
    right: 0;
    padding: 10px;
    background: #10101d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    gap: 15px;
  }
  .website-header__links-list_opened {
    transform: scaleY(1);
  }
}

.home-hero {
  min-height: 650px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.home-hero__background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: top;
  display: block;
}
.home-hero__container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 103px max(50% - 585px, 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 850px) {
  .home-hero__container {
    gap: 20px;
  }
}
.home-hero__container__header {
  text-transform: uppercase;
  width: 780px;
  max-width: 100%;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
}
.home-hero__container__header > .home-hero__container__header_blue {
  color: #42a9ed;
}
@media (max-width: 850px) {
  .home-hero__container__header {
    font-size: 36px;
  }
}
.home-hero__container__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 540px;
  max-width: 100%;
}
.home-hero__container__text__header {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 850px) {
  .home-hero__container__text__header {
    font-size: 16px;
  }
}
.home-hero__container__text__list {
  list-style: none;
  padding-inline-start: 26px;
}
.home-hero__container__text__list__list-item {
  font-size: 20px;
  position: relative;
}
@media (max-width: 850px) {
  .home-hero__container__text__list__list-item {
    font-size: 16px;
  }
}
.home-hero__container__text__list__list-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -16px;
  width: 5px;
  height: 2px;
  background-color: #000000;
}
.home-hero__container__text__buttons {
  display: flex;
  width: 396px;
  gap: 30px;
}
@media (max-width: 850px) {
  .home-hero__container__text__buttons {
    flex-direction: column;
    width: 150px;
    gap: 15px;
  }
}

.form-section {
  color: white;
  padding: 121px max(50% - 585px, 16px) 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 850px) {
  .form-section {
    gap: 30px;
  }
}
.form-section__steps {
  position: relative;
  display: flex;
  gap: 30px;
}
@media (max-width: 850px) {
  .form-section__steps {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.form-section__steps__step {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media (max-width: 850px) {
  .form-section__steps__step {
    width: 200px;
  }
}
.form-section__steps__step__image {
  width: 100px;
  height: 100px;
  display: block;
}
.form-section__steps__step__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.form-section__steps__dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
  gap: 130px;
  top: 47px;
}
@media (max-width: 1250px) {
  .form-section__steps__dots {
    display: none;
  }
}
.form-section__form {
  display: flex;
  flex-direction: column;
}
.form-section__form__fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 850px) {
  .form-section__form__fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.form-section__form__fields_2-cols {
  grid-column: 1/3;
}
.form-section__form__submit {
  width: 370px;
  max-width: 100%;
  margin: 40px auto 0;
}

.feedback-section {
  padding: 50px max(50% - 585px, 16px) 50px;
  background-color: #272733;
}
.feedback-section__mySwiper {
  user-select: none;
  width: 100%;
  height: 300px;
  padding-bottom: 30px !important;
}
@media (max-width: 1200px) {
  .feedback-section__mySwiper {
    height: 400px;
  }
}
@media (max-width: 700px) {
  .feedback-section__mySwiper {
    height: 500px;
  }
}
@media (max-width: 700px) {
  .feedback-section__mySwiper {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .feedback-section__mySwiper {
    height: unset;
  }
}
.feedback-section__mySwiper__swiper-slide {
  display: flex;
}
.feedback-section__mySwiper__swiper-slide__text {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}

.app-select {
  position: relative;
}
.app-select__select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  line-height: 28px;
  color: black;
  cursor: pointer;
  /* Remove IE arrow */
}
.app-select__select::-ms-expand {
  display: none;
}
.app-select__select:focus, .app-select__select:active {
  background-color: #3d4050;
  color: white;
}
.app-select__select option {
  background-color: #3d4050;
  color: white;
}
.app-select__select option:checked {
  color: #42a9ed;
}
.app-select__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: black;
  transition: 0.3s;
  pointer-events: none;
}
.app-select__select:active + .app-select__arrow, .app-select__select:focus + .app-select__arrow {
  color: white;
  transform: translateY(-50%) scaleY(-1);
}

.app-text-input {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  line-height: 28px;
  color: black;
  cursor: pointer;
}
.app-text-input::placeholder {
  color: black;
  opacity: 1;
}
.app-text-input:focus, .app-text-input:active {
  background-color: #3d4050;
  color: white;
}
.app-text-input:focus::placeholder, .app-text-input:active::placeholder {
  color: white;
}

.website-footer {
  padding: 30px max(50% - 585px, 16px);
  background-color: #3d4050;
  display: flex;
  justify-content: space-between;
  color: white;
}
@media (max-width: 1250px) {
  .website-footer {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }
}
.website-footer__copyright {
  font-size: 13px;
  line-height: 16px;
}
.website-footer__divider {
  width: 1px;
  height: 18px;
  background-color: #c3c3c3;
}
@media (max-width: 1250px) {
  .website-footer__divider {
    width: 100%;
    height: 1px;
  }
}
.website-footer__link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #c3c3c3;
  transition: 0.3s;
}
.website-footer__link__icon {
  display: block;
}
.website-footer__link:hover {
  color: white;
}
.website-footer__link_social {
  color: white;
}
.website-footer__link_social:hover {
  color: #c3c3c3;
}

/*# sourceMappingURL=style.css.map */
